body {
    font-family: Arial, sans-serif;
    background-color: #63B1BC;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    box-shadow: 0px 3px 10px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.3rem;
    height: 15vh;
}

.logo img {
    display: flex;
    align-items: center;
    height: 130px;
}

.list-navbar {
    display: flex;
    align-items: center;
}

.list-navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;           
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;     
    font-weight: 500;
    color: white;
}

.navbar .list-navbar a:hover {
    color: #50FFDF;
}


.buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
 

.cadastro-button {
    background-color: transparent;
   border: solid 1px;
    border-radius: 10px;
    border-color: #ffff;
    padding: 5px 15px;
    margin-right: 20px;
  
}

.cadastro-button a {
    text-decoration: none;      
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.login-button {
    background-color: #50FFDF;
    border: none;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 900;
}
.login-button a {
    text-decoration: none;     
    font-size: 20px;
    font-weight: 900;
    color: white;
}

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    position: relative;  
    font-size: 7vh;
    font-weight: bolder;
    color: #1F2A44; 
    display: inline-block;  
    border: 2px solid #ED145B;  
    border-radius: 10px;  
}

span::before {
    content: ''; /*para dar o "corte" na animação*/ 
    position: absolute;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(to left, transparent 50%, #ED145B 50%);
    background-size: 200% 100%;  
    background-position: -100% 0;
    z-index: -1;  /* deixa o texto aparecer */
    animation: rastro 2s linear infinite;
}

@keyframes rastro {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #EFB661;
}

#pergunta {
    text-align: center;
    background-color: transparent;
    border-color: #ED145B;
    border-radius: 20px;
    box-shadow: 8px 3px 3px #ED145B;
    align-items: center;
    text-align: center;

}
#pergunta::placeholder {
    color: #ffffff; 

}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #ED145B;
    text-align: left;
    display: none;
}