@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#010005, #06357f);
  }


  .main-container {
    display: flex;
    flex-direction: column;
    grid-template-areas: 
    "aside header header header header"
    "aside main-content main-content main-content main-content"
    "aside main-content main-content main-content main-content"
    ;
  }

  .container_infos_dashboard {
    display: flex;
    height: 100%vh;
  }
  
  .header {
    background: #cfd3da;
    height: 60px;
    grid-area: header;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  
  .header h1 {
    display: flex;
    align-items: center;
  }
  
  .aside {
    grid-area: aside;
    background: #52cade;
    width: fit-content;
    height: 90vh;
    padding: 20px 40px;
    border-right: 4px solid var(--cor-separador);
    z-index: 2;
    margin: 0;
    text-align: center;
  }
  
  .aside > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }
  
  .aside div {
    margin-top: 200px;
  }
  
  .aside div h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .aside nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .aside nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    
  }
  
  .dashboard{
    height: calc(100vh - 100px);
    /* grid-area: main-content; */
    display: flex;
    justify-content: space-evenly;
    grid-template-areas: 
    "infoSensores sensoresGrafico1 sensoresGrafico2"
    "infoSensores sensoresGrafico1 sensoresGrafico2"
    "infoSensores sensoresGrafico1 sensoresGrafico2"
    ;
    gap: 40px;
    padding: 20px;
    width: 100%;
  }
  
  .sensores-info {
    grid-area: infoSensores;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .sensores-grafico-1 {
    grid-area: ensoresGrafico1;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  .sensores-grafico-1 div {
    width: 600px;
    /* height: 395px; */
    margin: 0;
    padding: 0;
   
  }
  
  .sensores-grafico-2{
    grid-area: sensoresGrafico2;
    height: 100%;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:4px 4px 0px 0px; ;
    
  }

  .chart-container3{
    width: 470px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
   

  }
  
  .sensor-info h1, .chart-container1 h1, .chart-container2 h1,.sensores-grafico-2 h1{
    background-color: #cfd3da;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0px;
    border-radius: 4px 4px 0px 0px; 
  }
  
  .sensor-info {
    display: flex;
    flex-direction: column;
  }
  
  canvas, .sensor-info div{
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
  }
  
  .sensor-info div {
    width: 100%;
  }
  
  .sensor-info p {
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
  }
  h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .select_mes {

    padding: 15px;
    background-color: #52cade;
    color: #fff;
    border: 5px solid;
    border-radius: 15px;

  }

  