@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #333; 
    min-height: 100vh;
    overflow: hidden;
}

header {
    background-color: #333;
    box-shadow: 0px 3px 10px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.3rem;
    height: 15vh;
}

.logo img {
    display: flex;
    align-items: center;
    height: 130px;
}

.list-navbar {
    display: flex;
    align-items: center;
}

.list-navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;           /* Retira os bullets points */
    margin-right: 60px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-weight: 500;
    color: white;
}

.navbar .list-navbar a:hover {
    color: #50FFDF;
}


.buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
 

.cadastro-button {
    background-color: transparent;
   border: solid 1px;
    border-radius: 10px;
    border-color: #ffff;
    padding: 5px 15px;
    margin-right: 20px;
  
}

.cadastro-button a {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.login-button {
    background-color: #50FFDF;
    border: none;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 900;
}
.login-button a {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-size: 20px;
    font-weight: 900;
    color: white;
}



.main-cadastro {
    width: 100vw;
    height: 100%;
    background-image: url("../assets/background/home3v2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.right-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 20px;
    box-shadow: 0px 10px 40px #0a0a0a;
    text-align: center; /* ADICIONADO para centralizar texto */
    position: relative;
}

.card-cadastro h1 {
    color: #ffffff;
    font-weight: 800;
    margin:0;
 
}

.card-cadastro .textfield-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textfield-container2 .textfield {
    width: 80%;                     /* Ajusta a largura para centralizar */
    margin: 0 auto;                 /* Centraliza horizontalmente */
}
.textfield{
    display: flex;
    width: 48%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #3e4347;
    color: aliceblue;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #0a0a0a;
    outline: none;
    box-sizing: border-box;
    align-items: flex-start;
}

.textfield label {
    color: aliceblue;
    margin-bottom: 10px;
}


.btn-cadastro {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 12px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
    background-color: #50FFDF;
    border: none;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;


}


