/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.wrapper {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.main-content {
    flex: 1; 
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    background-color: black;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.header {
    height: var(--tamanho-header);
    border-bottom: 1px solid cyan;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: cyan;
    
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: cyan;
}
.navbar li {
    margin-right: 20px; 
    display: inline;
}


.navbar li.active a {
    background-color:transparent; /* Cor de fundo do item ativo */
    color: #fff; /* Cor do texto do item ativo */
    border-radius: 5px; /* Borda arredondada para o destaque */
}


.titulo {
    color: #008a9c;
    width: fit-content;
    font-weight: 800;

}
.titulo img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}


.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('https://s3-alpha-sig.figma.com/img/7a57/b6c7/06139c482cc9e7366a57b9077f9c18f6?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RFgRASYQp5MIOO9hQVq7uHG~gRQm2~h3lDPP-NsO1psnWEYtMQI1iJNYt-C-S9XjFbYkYOtDzJd8660TbvEGfndvD7jpTL5Y8WgmkSQSMnkVT3~lEzRWvQHpPYVql~uxenHVmOjONA1A-igUpptL4Jwr-NRw5Y3tMtFoPYzTN4lwM5QuAtdcZ5Uuy63WOEmRkWvJJ735WjIDnoxqbv63r0dJkVSKhLiiJzN3S5WZKQ-6D4ioNNvB-NTCdBVe1Ke5AkptkMsKZu5EdpcCI116A6Aro2pKe2ul0lGMXIK7ktVWpQSH6l5YG28b9ft2TLTgTJLDETufLa5wC1a5OqTCxQ__');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
} 

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container .span {
    font-weight: 800;
}

/* Missão, visão, valores */

.social {
    background-color: #00393d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    align-items: center;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
}

.box img {
    width: 70px; 
    object-fit: cover; 
    margin-bottom: 2px; 
}

/* Footer */

.footer {
    background-color: #008a9c;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.version {
    font-size: 12px;
}

/* cadastro */

.header{
    background-color: black;
    }
    
    body{
        background-image: url('https://s3-alpha-sig.figma.com/img/55af/b376/6f7b4764ed65dbeb506844ab2dde0849?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cuB3Ln~XT6UpQhSvoWPHSN5mrGyJt12CwbdAobS9oZa-nhSJFvGiQbfw502UzB5ee-jmnDFWVkQ7MdHzF1tv83Qzp7ei5xQJ~hIQ8rhdGdBcDechCtZPAOIjCLi5hZzdzj2AmZmkGLDIvTifFKa8T5eteeb6Q60bgEv71GztCDPyRDZJ3come0civJXbLggaT0y~rnbsGjVWtPLEJO5xSeTEBACDw5-jkpmat6IRe5O1iOL~W~qkQuHGRSbEi2OKQcBuxUiCTLpxl-REL6oR3Xj8DhbH7-u3upnyTy9ZnbHjFlDEE4cBy0S~8HHqE-jWNYIam8UeyOwb-86GOnU4zw__');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    }

    .login {
        display: flex;
        width: 80%;
        margin: auto;
        height: 100%;
    }

    .login h2 {
        background-color: transparent ;
        display: flex;
        justify-content: center;
        color: #34ffff; 
    }

    .login .container{
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .container .card{
        justify-content: center;
        background-color: transparent; /* Torna o fundo transparente */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        width: 700px;
        border-radius: 10px;
        border: 1px solid rgb(0, 247, 255); /* Contorno leve */
        box-shadow: 0 4px 10px rgba(0, 182, 173, 0.726); /* Sombra leve */
    }

    span{
        font-family: "Barlow", sans-serif;
        color: #ffffff;
        font-weight: 800;
    }
    
    .formulario{
        padding: 5%;
    }
    
    .campo{
        padding: 2%;
    }
    input{
        text-align: center;
    padding: 2%;
    border: 2px solid #32b9cd; /* Cor do contorno */
    border-radius: 5px; /* Bordas arredondadas */
    width: 90%;
    background-color: transparent; /* Fundo transparente */
    color: #ffffff; /* Cor do texto, ajuste conforme necessário */
    outline: none;
    }
    .botao{
        margin-top: 3%;
        margin-left: 40%;
        background-color: cyan;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 7px;
        font-family: "Barlow", sans-serif;
        font-weight: 800px;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }
    
    .botao:hover{
        background-color: #000000;
    }